@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Times New Roman', Times, serif;
  background-color: #0a0a0a;
}

::selection {
  background-color: #ff18fc;
  color: #ffffff;
}

/*animations*/
@keyframes reveal-up {
  0% {
    transform: translateY(105%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes reveal-up-reverse {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(105%);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header-logo {
  animation-delay: 0.4s !important;
  animation-duration: 0.12s !important;
  animation-timing-function: ease-out !important;
}

.list-header {
  animation-delay: 0.8s;
  animation-duration: 0.12s !important;
  animation-timing-function: ease-out;
}

.list-item-animated {
  animation: reveal-up 0.32s cubic-bezier(0.25, 0.1, 0.25, 1) 0.92s both;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.list-item-animated:before {
  content: '';
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  animation: reveal-up-reverse 0.32s ease 0.92s both;
  inset: 0;
  background-color: #0a0a0a;
}

.cases-list-item:before {
  content: '';
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  inset: 0;
  background-color: #0a0a0a;
}

.cases-list-item:nth-child(8) {
  padding-bottom: 6px;
}

.list-footer-item,
.list-footer-item:before {
  animation-delay: 1.12s !important;
}

.list-footer-item:nth-child(5),
.list-footer-item:nth-child(5):before {
  animation-delay: 1.26s !important;
}

.list-footer-item:nth-child(6),
.list-footer-item:nth-child(6):before {
  animation-delay: 1.3s !important;
}

.list-item-animated div {
  animation: fade 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 1.92s both;
  opacity: 0;
}

.section-animated {
  animation:
    reveal-up 0.34s cubic-bezier(0.25, 0.1, 0.25, 1) 1.52s both,
    fade 0.44s ease-out 1.62s both;
}

.chip-animated-top,
.chip-animated-bottom {
  animation-duration: 0.44s !important;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1) !important;
}

.chip-animated-top {
  animation-delay: 1.84s !important;
}

.chip-animated-bottom {
  animation-delay: 2.04s !important;
}
