@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: 'Times New Roman', Times, serif;
  background-color: #151515;
}

::selection {
  background-color: '#FF18FC';
  color: #ffffff;
}

.feature-caption,
.feature-chip,
li {
  font-family: Inter, sans-serif !important;
}

.footer-link {
  font-family: 'Times New Roman', Times, serif !important;
  cursor: pointer;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.32);
  max-width:fit-content;
}

.footer-link:hover {
  border-bottom: 0.5px solid rgba(255, 255, 255, 100);
}
